*{


    margin: 0;
    padding: 0;
    
}
#navbar
{

height: 70px;
width: auto;
display: flex;
align-items: center;
}
#logo1
{
margin-left: 50px;
height: 60px;
width: 120px;
}
.hhh1
{

    margin-left: 25px;
    font-size: 18px;
    
}
.hhh2
{
    margin-left: 30px;
    font-size: 18px;
}
.hhh3
{
    margin-left: 480px;
    font-size: 18px;
}
.hhh4
{
    margin-left: 40px;
    font-size: 18px;
}
.hhh5
{
    margin-left: 55px;
    font-size: 24px;
    background-color: rgb(164, 21, 83);
    color: white;
    height: 35px;
    width: auto;
    justify-content: center;
    align-items: center;
    border-radius: 2px;   
    padding: 6px;
}
#navbar2
{

    height: 50px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.84);
    display: flex;
    align-items: center;
}
#navbar3 ol li{
    align-items: center;
    display: inline-block;
    
}
#navbar3 ol li a{
    text-decoration: none;
    color: white;
    margin-inline-start: 15px;
    margin-left: 60px;

}
#hero
{
    height: 470px;
    width: auto;
    background-image: url("image/flat-lay-workstation-with-copy-space-laptop.jpg");
    background-size: cover;
}
#hire10
{
    height: 200px;
    width: 600px;
    border: 0px solid black;
    margin-left: 10px;  
    padding: 30px;

}
.hire{

    font-size: 55px;
    color: white;
  
}
.hire1
{
    color: white;
    font-size: 30px;
    margin-left: 60px;
}
#box
{

    display: flex;
    margin-left: 40px;
}
.box1
{
height: 30px;
width: 200px;
padding: 8px;
background-color: rgb(177, 21, 130);
color: white;
border: 2px solid none ;
border-radius: 2px;
margin-top: 20px;
font-size: 25px;
}
.box2{
    height: 30px;
    width: 250px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.594);
    color: white;
    border: 1px solid white ;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;

}
#hero60
{

    height: 3900px;
    width: cover;
    background-color: rgba(8, 5, 13, 0.936);
}
#dddd1
{

    display: flex;
    margin-left: 40px;
    
}
.asuse
{
    margin-top: 38px;
    color: white;

}
.im
{
    margin-left: 35px;
    height: 70px;
    width: 80px;
    margin-top: 20px;
}
.h10
{

    margin-left: 30px;
    margin-right: 60px;
    margin-top: 50px;
}
.need
{

    color: white;
    font-size: 60px;
    margin-top: 80px;
    margin-left: 30px;
}
.container10
{
    display: flex;

}
.hede1
{

    font-size:30px;
    color: white;
    margin-left: 40px;
    margin-top: 30px;
}
#jol0
{

    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-left: 40px;
}
.hede2
{

    font-size:30px;
    color: white;
    margin-left: 40px;
    margin-top: 30px;
}
#jol1
{

    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}
.hede3
{

    font-size:30px;
    color: white;
    margin-left: 40px;
    margin-top: 30px;
}
#jol2
{

    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}
.hede4
{

    font-size:30px;
    color: white;
    margin-left: 40px;
    margin-top: 30px;
}
#jol3
{

    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}
#jibon
{

    margin-left: 30px;
    margin-right: 40px;
    margin-top: 80px;
}
#k3
{
    display: flex;
}
.k2
{

    font-size: 55px;
    color: white;
    margin-left: 30px;
    margin-top: 100px;
}
.k4
{

    color: white;
    margin-left: 40px;
    margin-top: 60px;
}
.k5
{

    color: white;
    font-size: 20px;
    margin-top: 30px;
}
.k6
{

    color: white;
    margin-left: 40px;
    margin-top: 60px;
}
.k7
{

    color: white;
    font-size: 20px;
    margin-top: 30px;
}
.k8
{

    color: white;
    margin-left: 40px;
    margin-top: 60px;
}
.k9
{

    color: white;
    font-size: 20px;
    margin-top: 30px;
}
.k10
{

    color: white;
    margin-left: 40px;
    margin-top: 60px;
}
.k11
{

    color: white;
    font-size: 20px;
    margin-top: 30px;
}
.k13
{
    font-size: 55px;
    color: white;
    margin-top: 80px;
    margin-left: 30px;
}
.k14
{
    font-size: 30px;
    color: white;
    margin-top: 35px;
    margin-left: 30px;
}
#iam100
{
    display: flex;
}
.k15
{
    height: 500px;
    width: 600px;
    margin-left: 30px;
    margin-top: 30px;
}
#box100
{
    height: 500px;
    width: 604px;
    border: 2px solid none;
    margin-top: 26px;
    margin-left: 4px;
}
.k16
{
    height: 246px;
    width: 296px;
    padding: 4px;
}
#k19
{

    display: flex;
}
.k20
{
    height: 246px;
    width: 296px;
    padding: 4px;
}
#echo
{

    display: flex;

}
#m1
{
    height: 500px;
    width: 604px;
    border: 2px solid none;
    margin-top: 4px;
    margin-left: 26px;
    
}
.m4
{
    height: 500px;
    width: 600px;
    padding: 8px;
}
#m10
{
    height: 500px;
    width: 604px;
    border: 2px solid none;
    margin-left: 4px;
}
.m20
{
    height: 500px;
    width: 600px;
    margin-left: 30px;
    margin-top: 4px;
}
.a100
{
 color: rgb(192, 12, 96);
 font-size: 22px;
 margin-left: 550px;
 margin-top: 80px;
 
}
#qq10
{
    display: flex;
}
#qq11
{

    height: 700px;
    width: 400px;
    border: 2px solid none;
    margin-left: 30px;
    margin-top: 30px;
}
.l1
{

    color: white;
    font-size: 55px;
    margin-top: 20px;
}
.l2
{
    color: rgb(217, 11, 135);
    font-size: 45px;

}
.l3
{
    color: white;
    font-size: 55px;
    
}
.l4
{
    color: white;
    font-size: 55px;

}
#qq22
{

    height: 700px;
    width: 180px;
    border: 2px solid none;
    margin-left: 10px;
    margin-top: 30px;
}
.pppp1 p
{
    font-size: 22px;
    color: white;
    margin-top: 22px ;
}
.ppp1 p{

    font-size: 22px;
    color: white;
    margin-top: 22px ;
}
.p100
{
    color: brown;
    margin-top: 20px;
}
#k100
{
margin-left: 30px;
margin-right: 40px;

}
#book1 
{

display: flex;
align-items: center;
margin-top: 80px;
}
#book1 img{

    margin-left: 25px;
}
#book1 p{
    margin-left: 30px;
    color: white;
    font-size: 20px;
}
#kalu
{
    background-image: url("image/enterprise-upsell-v5-desktop.jpg");
    height: 700px ;
    width: auto;
    background-size: cover;

}
#box1000
{

    height: 600px;
    width: 600px;
    border: 2px solid none ;
    margin-left: 30px;
    padding: 36px;
    
}
#ccc
{
    height: 600px;
    width: cover;
    background-color: rgba(8, 5, 13, 0.936);
}
#cc1
{
display: flex;


}
.box6001
{

    height: 500px;
    width: 210px;
    border: 2px solid none;
    margin-top: 30px;
    margin-left: 10px;

}
#sudhu
{

    height: 100px;
    width: cover;
    background-color: black;

}
#tumi
{

    margin-left: 30px;
    margin-right: 30px;
}
#mar
{

    display: flex;
    align-items: center;
}
.mar1
{

    color: white;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 40px;
}
.nil
{
    color: white;
    font-size: 60px;
    
}
.nil2
{
    color: white;
    font-size: 60px;
}  
.nil3
{
    color: rgb(202, 11, 116);
    font-size: 60px;
}
.nil4
{
    color: white;
    font-size: 55px;
}
.nil5
{
    color: rgb(202, 11, 116);
    font-size: 23px;
    margin-top: 30px;
}
.nil6
{

    color: white;
    font-size: 23px;
}
.nil7
{
    color: white;
    font-size: 23px;
}
.nil8
{
    color: white;
    font-size: 30px;
}
.nil9
{
    color: rgb(202, 11, 116);
    font-size: 30px;
}
.nil10
{
    color: white;
    font-size: 23px;
}
.nil11
{

    color: white;
    font-size: 30px;
}
.nil12
{
    color: white;
    font-size: 23px;
}
.o1 p{

    color: white;
    font-size: 18px;
    margin-top: 6px;
}
.free
{
    color: white;
    font-size: 25px;
}
.bapi1
{
    margin-left: 20px;
    margin-top: 20px;
}
.bapi2
{
    margin-left: 20px;
    margin-top: 20px;
}
.bapi0
{
    color: white;
    font-size: 25px;
    margin-left: 35px;
}
.iiii i{
    margin-left: 16px;
    color: white;
    margin-top: 20px;
    font-size: 23px;
}
.tumiamar img
{
    height: 65px;
    width: 130px;
    margin-left: 30px;
}
.marmo11
{
    display: flex;

}
.marmo11 i{
    margin-left: 25px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.marmo11 p
{
    margin-left: 10px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.mar10{
    color: white;
    margin-top: 25px;
    margin-left: 150px;
    
}
.mar11{

    color: white;
    margin-top: 25px;
    margin-left: 200px;
    
}
